* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

body {
    background: url("./images/pattern-background-desktop.svg") top no-repeat, hsl(225, 100%, 94%);
    padding: 0 30px;
}

.flex {
    display: flex;
}

.container {
    background: white;
    max-width: 450px;
    margin: 100px auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.plan-container {
    padding: 0 30px;
    margin-top: 30px;
    gap: 30px;
    flex-direction: column;
}

.plan-img img {
    border-radius: 20px 20px 0 0;
}

.plan-description h2 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 20px;
}

.plan-description {
    text-align: center;
}

.plan-description p {
    color: hsl(224, 23%, 55%);
}

.plan-box {
    background: hsl(225, 100%, 98%);
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    align-items: center;
    justify-content: left;
}

.plan-item img {
    align-items: center;
    justify-content: center;
}

.plan-item p {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
}

.plan-item span {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.plan-box a {
    margin-left: auto;
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.plan-container > a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
}

.btn {
    color:hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px 30px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.plan-container > a:last-child {
    color: hsl(224, 23%, 55%);
    margin-bottom: 60px;
}