* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

body {
    background: url("./images/pattern-background-desktop.svg") top no-repeat, hsl(225, 100%, 94%);
    padding: 0 30px;
}

.container {
    background: white;
    max-width: 500px;
    margin: 100px auto;
}

.plan-img {
    width: 100%;
}

.plan-img img {
    border-radius: 20px 20px 0 0;
}

.plan-description h2 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}